<div class="mdl-grid">
  <div class="mdl-cell--12-col">

        <form action="/login" method="post">
            <div class="w325 h325 mdl-card mdl-shadow--2dp center-abs">
                <div class="mdl-card__title mdl-card--expand bgc-blue mdl-color-text--grey-50">
                    <h2 class="mdl-card__title-text">Login</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" name="username" id="username">
                        <label class="mdl-textfield__label mdl-color-text--grey-600" for="username">Username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" name="password" id="password">
                        <label class="mdl-textfield__label mdl-color-text--grey-600" for="password">Password</label>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
                </div>
            </div>
        </form>

    </div>
</div>
